<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>First Drupal Project</title>
    </head>
    <body>
        {{page.banner}}
        {{page.about}}
        {{page.content}}
        {{page.footer}}
    </body>
</html>